@import 'normalize.css';
/* Thiết lập biến cho :root */
:root {
    --primary-color: #ee5a24;
    --secondary-color: #333;
    --text-color: #333;
    --bg-color: #f6f6f6;
    --font-size: 14px;
    --font-family: Arial, sans-serif;
  }
  
  /* Thiết lập CSS cho body và html */
  body,
  html {
    background: #1a1a1a;
      margin: 0;
      font-family: Arial,Tahoma;
      font-size: 14px;
      color: #dcdcdc;
  }
  
  /* Thiết lập CSS cho body */
  body {
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--text-color);
    background-color: var(--bg-color);
    
  }
ul,span,p,div {
    margin: 0;
    padding: 0;
  }
.header {
    background: #333333;
}