.wrapper{
    display:  flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
}
.container{
    width: 100%;
}
.content{
    background-color: rgb(38, 35, 35);
    width: 980px;
    margin: auto;
    min-height: 1000px;
}